.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

nav li a:active {
  color: #fff;
}

section {
  margin-bottom: 0.1rem;
}


li, a {
  text-decoration: none;
}

.navbar {
  background: linear-gradient(#6f42c1,#69149b) !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  padding-top: 3rem;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#slider {
  background-color: rgba(0, 0, 0, 0.856) !important;
}

.carousel-caption {
  margin-bottom: 7rem;
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  position: relative !important;
  height: 35rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}

.dark-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(53, 34, 65, 0.658), rgba(42, 1, 59, 0.637));
}

/* Declare heights because of positioning of img element */

.section-title {
  text-align: center;
  padding: 5px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #22013d;
  position: relative;
  z-index: 2;
}

li .nav-link, li .dropdown-item {
  font-size: 0.8rem;
}

#about {
  background: linear-gradient(rgba(243, 245, 247, 0.993), rgba(245, 247, 252, 0.959)), url("../img/portfolio/portfolio-1.jpg") fixed center center;
  padding: 0.5rem;
}

#about .icon-box>h3 {
  color: rgba(32, 1, 46, 0.959) !important;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.card.card-img-holder {
  position: relative;
}

.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.container-fluid{
  max-width: 96%;
  margin: 0 auto;
  }
  

.card-size{
  height: 200px;
}

.icon-box-size{
  height: 300px;
}

.icon{
  font-size: 30px;
}

.text-big{
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: linear-gradient(rgba(58, 36, 71, 0.952), rgba(28, 3, 39, 0.959));
  padding: 0 0 20px 0;
  color: #fff;
  font-size: 14px;
}

.bg-explore {
  background: linear-gradient(rgba(105, 17, 156, 0.952), rgba(59, 2, 83, 0.959));
  color: #fff !important;
}

#footer .footer-top {
  background: linear-gradient(rgba(75, 35, 99, 0.952), rgba(46, 5, 63, 0.959));
  border-bottom: 1px solid #354144;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #21023b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 30px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #350257;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 3px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #40dcfe;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #c27ef0;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
  background: linear-gradient(rgba(233, 235, 236, 0.952), rgba(189, 190, 192, 0.959)), url("../img/portfolio/portfolio-1.jpg") fixed center center;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 70%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover img {
  transform: scale(1.1);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #354144;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b4c1c4;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #7e5d94;
}

.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #440d68;
}

.team .member .social a+a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
  background: linear-gradient(rgba(247, 249, 250, 0.952), rgba(236, 240, 248, 0.959)), url("../img/portfolio/portfolio-3.jpg") fixed center center;
}

.icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: linear-gradient(rgba(247, 249, 250, 0.479), rgba(232, 237, 247, 0.288));
}

.icon-box i {
  float: left;
  color: linear-gradient(rgba(73, 12, 109, 0.952), rgba(34, 2, 48, 0.959));
  font-size: 40px;
}

.icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box h4 a {
  color: #354144;
  transition: 0.3s;
}

.icon-box:hover h4 a {
  color: #320153;
}

p {
  margin-left: 5px;
  line-height: 24px;
  font-size: 14px;
}

/* Login Form Styles */

.auth {
  background: linear-gradient(rgba(58, 36, 71, 0.952), rgba(63, 12, 85, 0.849)), url("../img/portfolio/portfolio-4.jpg") fixed center center;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 40px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Design Banner for all Services Pages
 */

.design-banner {
  width: 100%;
  padding: 2rem;
  background: linear-gradient(rgba(130, 80, 153, 0.952), rgba(72, 4, 117, 0.959)), url("../img/portfolio/portfolio-1.jpg") fixed center center;
}